# Last Modified: Sat Jan 18 01:51:12 2014
#include <tunables/global>

/var/jetendo-server/nginx/sbin/nginx {
  #include <abstractions/base>
  #include <abstractions/nameservice>
  #include <abstractions/nis>

  capability dac_override,
  capability net_bind_service,
  capability sys_resource,
  capability setgid,
  capability setuid,
  capability chown,

  /etc/ssl/openssl.cnf r,
  /var/jetendo-server/jetendo/public/** r,
  /var/jetendo-server/jetendo/share/** r,
  /var/jetendo-server/jetendo/share/mls-images-temp/** r,
  /var/jetendo-server/jetendo/sites/** r,
  /var/jetendo-server/jetendo/sites-writable/** r,
  /var/jetendo-server/jetendo/themes/** r,
  /var/jetendo-server/nginx/client_body_temp/** rw,
  /var/jetendo-server/nginx/conf/** r,
  /var/jetendo-server/nginx/fastcgi_temp/** rw,
  /var/jetendo-server/nginx/logs/** rw,
  /var/jetendo-server/nginx/off w,
  /var/jetendo-server/nginx/on w,
  /var/jetendo-server/nginx/proxy_temp/** rw,
  /var/jetendo-server/nginx/sbin/nginx mr,
  /var/jetendo-server/nginx/scgi_temp/** rw,
  /var/jetendo-server/nginx/ssl/** r,
  /var/jetendo-server/nginx/uwscgi_temp/** rw,
  /var/jetendo-server/backup/jetendo/share/mls-images/** r,
  /var/jetendo-server/system/nginx-conf/** r,
  /var/jetendo-server/nginx/sites/ r,
  /var/jetendo-server/nginx/sites/** r,
  /var/jetendo-server/nginx/cache rw,
  /var/jetendo-server/nginx/cache/ rw,
  /var/jetendo-server/nginx/cache/** rw,
  /var/jetendo-server/nginx/conf/sites/jetendo/** r,
  /var/jetendo-server/nginx/html/** r,
    /run/nginx.pid rw,
    /run/nginx.pid.oldbin w,
    /run/php/php7.0-fpm.sock rw,
  
}
